body {
    margin-left: 10em;
    margin-right: 10em;
}
.box-1 {
    padding: 5em;
    padding-bottom:
    flex-wrap: nowrap;
    text-align: center;
}

.back-image {
    background: url(https://images.pexels.com/photos/2516658/pexels-photo-2516658.jpeg);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    text-align: center;
    font-weight: 700;
}

.box-1 p {
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;

}
.box-2 {
    padding-top: 200px;
    text-align: center;
}

.box-2 h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.box-2a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 2em;

    


    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
}

 
.box-3 {
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(50,auto);
    background: rgb(138, 131, 132);
    gap: 1em;
    padding: 1em;
    padding-right: 30rem;
    padding-left: 30rem;
    align-items: inherit;
    justify-content:center;
    flex-wrap: inherit;
}
.body{
    margin: 2em;
    padding: 3em;
}


.box-3 div {
    border: black solid 1px;
    background: blanchedalmond;
    text-align: center;

}

.box-3-box .box-4-box .box-5-box {

display: grid;
grid-auto-columns: minmax(50,auto);
align-items: center;
text-align: center;
}

body{
    margin: 2em;
    padding: 3em;
}


.box-3 p {
    font-family: 'Slabo 27px', serif;
    padding: 10px;
    font-size: 1em;
}

h4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4em;
    text-align: center;

}
.box-4 {
    padding-top: 100px;
}
.box-4 p {
    font-family: cursive;
    text-align: center;
    padding-bottom: 2em;
}

.box-5 {
    display: flex;
    flex-basis: 100%;
    flex-wrap: inherit;
    justify-items: center;
    
    margin: 0.5em;
}
 .box-5 h4 {
     color: ivory ;
     background: lightcoral;
 }

 .box-5a-box {
     background: grey;
     padding-bottom: 4em;
 }

 .box-5b-box {
     background: rgb(108, 152, 209);
 }

 .box-5 p
 {
     font-family: cursive;
     padding: 2em;
     text-align: center;
 }

 @media (min-width: 800px) {

.design {
    display: grid;
    grid-template-columns:  1fr;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    font-size: 1.5em;
}

 }

